*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* NAV TOP */
nav{
    background-color: white;
    line-height: 70px;
    padding: 0px 20px;
}
.logo-nav:hover{
    transform: rotate(360deg);
}

.logo-nav{ 
    vertical-align:text-bottom;
    overflow: hidden; 
    transition-duration: 2s; 
    transition-property: transform;
}
#nav-list-left{
   display: inline-block;
   position: relative;
}
#nav-list-left>li{
    display: inline-block;
    margin: 0px 15px
}
#nav-list-left a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}
#start{
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(55, 55, 230);
    line-height: normal;
    padding: 14px;
    font-size: 15px;
}
#nav-list-right{
    float: right;
}
#nav-list-right>li{
    display: inline-block;
    margin: 0px 15px
}
#nav-list-right a{
    text-decoration: none;
    font-size: 20px;
}
/*  */
/* HEADER */
header{
    height: 700px;
    background-color:  rgb(153, 187, 206);
    padding: 100px 0px 0px 0px;
}
header>div{
    max-width: 1200px;
    margin: 0 auto;
}
header h1{
    font-size: 55px;  
}
#text-box-header{
    width: 20%;
    float: left;
}
#text-box-header>p{
    line-height: 25px;
    margin: 25px 0px; 
    font-weight: 700;
}
header input[type="button"]{
    border: none;
    padding: 10px;
    background-color: rgb(36, 36, 185);
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}
header input[type="button"]+main{
    font-weight: 700;
}
header input[type="button"]+main+main{
    font-size: 35px;
}
header img{
    float: right;
    width: 80%;
    margin-top: 30px;
}
/*  */
/* CONTAINER-LAYOUT */
#container-layout{
    max-width: 1240px;
    margin: 200px auto 90px ;
}
.container-layout img{
    margin-right: 5px;
    float: left;
}
#container-layout img{
    height: 30px;
    vertical-align: text-top;
}
/*CONTAINER-LAYOUT//// UTILITY */
.testo{
    height: 20px;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
}
.top{
    margin-top: 50px;
    height: 80px;
    line-height: 80px;
    font-size: 30px;
    font-weight: 700;
    border: 2px solid lightgray;
    text-align: center;
}
.container-layout{
    height: 950px;
    border: 3px solid lightgrey;
    padding: 10px;
}
.container-layout li{
    list-style: none;
    margin-bottom: 30px;
    font-weight: 700;
}
.container-layout ul:nth-child(1) li:nth-child(1){
    font-size: 25px;
}
.container-layout ul:nth-child(1) li:nth-child(2){
    margin-bottom: 10px;
}
.container-layout ul:nth-child(1) li:nth-child(3){
    color: grey;
}
.container-layout ul:nth-child(2) li:nth-child(1) input[type="button"]{
    position: relative;
    left: 10%;
    background-color: blue; 
    color: aliceblue;  
    font-weight: 700;
    padding: 10px;
    font-size: 20px;
    border: none;
}
.container-layout ul:nth-child(2) li:nth-child(2) a{
    color: lightblue;
}
.container-layout ul:nth-child(2) li:nth-child(3) hr{
    width: 50px;
    border: 1px lightgrey solid ;
}
.container-layout ul:nth-child(2) li:nth-child(4){
    font-size: 20px;
}
.container-layout ul:nth-child(2) li:nth-child(4)~li>span:nth-child(1){
    color: blue;
}
.container-layout ul:nth-child(1){
    height: 400px;
}
/* CONTAINER-LAYOUT /// top layout */
#top-layout{
    height: 140px;
}
#top-layout>h1{
    min-width: 800px;
    font-size: 45px;
    margin-bottom: 30px;
}
#top-layout>form[action="URL"] span{
    margin: 0px 20px;
}
/* CONTAINER-LAYOUT /// left layout */
#left-layout{
    padding: 14px;
    min-width: 400px;
    width: 33%;
    float: left;
    height: 80%; 
}
/* CONTAINER-LAYOUT /// center layout */
#center-layout{
    min-width: 400px;
    width: 33%;
    padding: 14px;
    float: left;
    height: 80%;
}
/* CONTAINER-LAYOUT /// right layout */  
#right-layout{
    min-width: 400px;
    width: 33%;
    float: left;
    padding: 14px;
    height: 80%;
}
/*  */
/*  */
/* SPECIAL-CONTAINER */
#special-container{
    max-width: 1240px;
    margin: 0 auto;
    margin-bottom: 200px;
}
#special-container>.top>img{
    height: 40px;
    vertical-align: middle;
}
#contact-us{
    border: 2px solid lightgray;
    height: 200px;
    padding:20px;  
    margin-bottom: 200px;
}
#contact-us>input[type="button"]{
    font-size: 20px;
    padding: 10px 35px 10px;
    color: white;
    background-color: blue;
    float: right;
    margin-top: 5px;
    border: none;
}
#contact-us>div span{
    line-height: 60px;
    font-weight: 700;
}
#contact-us>div span:nth-child(1){
    font-size: 35px;
}
#contact-us>div span:nth-child(3){
    font-size: 30x;
}
#contact-us>div span:nth-child(5){
    font-size: 15px;
    font-weight: 300;
}
#find-partner>img{
    width: 55%;
}
#find-partner img+div{
    font-weight: 700;
    width: 40%;
    padding: 0px 30px;
    display: inline-block;
    position: relative;
    bottom: 50%;
    transform: translate(0,-50%);
}
#find-partner img+div>h1{
    font-size: 35px;
}
#find-partner img+div>h1+p{
    color: grey;
    margin: 20px 0px;
}
#find-partner img+div>input[type="button"]{
    border: 3px solid;
    background-color: white;
    padding: 15px;
    font-weight: 700;
}
/*  */
/* DROPBOX-BUSINESS-OPERATIONS */
#dropbox-business-operations{
    width: 1240px;
    margin: 0 auto;
}
#dropbox-business-operations>h1{
    margin:30px 30px;
    font-size:35px
}
.box{
    width: 33.3%;
    height: 550px;
    float: left;
}
.box>div:nth-child(1){
    text-align: center;
}
.box>div>img{
    width: 80%;
}
.box>div:nth-child(2){
    padding: 10px 35px;
}
.box>div:nth-child(2)>h2{
    margin-bottom: 30px;

}
.box>div:nth-child(2) p{
  font-weight: 600;
}
.box>div:nth-child(2) p>span{
   text-decoration: underline;
}
/*  */
/* BANNER-SPONSOR */
#banner-sponsor{
    height: 250px;
    width: 1240px;
    margin:100px auto ;
    padding-left: 50px;
}
#banner-sponsor>h1{
    font-size: 45px;
    margin-bottom: 50px;
}
#banner-sponsor>a{
    color: blue;
}
/*  */
/* SPONSOR-ZONE */
 #sponsor-zone>div{
     height: 500px;
     width: 33.3%;
     float: left;
 }
 #sponsor-zone>div:nth-child(1)>div, #sponsor-zone>div:nth-child(3)>div{      /* LEFT */
     float: left;
     width: 50%;
     height: 50%;
 }
 #sponsor-zone>div:nth-child(1)>div:nth-child(1){
     padding: 40px;
     background-color: greenyellow;
 }
 #designit{
     height: 100%;
     background-image: url(../img/designit.svg);
     background-size: contain;
     background-repeat: no-repeat;
     background-position: center;
     filter: invert();
 }
 #sponsor-zone>div:nth-child(1)>div:nth-child(2){
    background-color: brown;
    padding: 40px;
}
#asu{                   
    height: 100%;       
    background-image: url(../img/arizona_state_university.svg);
    background-size: contain;    
    background-repeat: no-repeat;
    background-position:center;  
    filter: invert();            
}
#sponsor-zone>div:nth-child(1)>div:nth-child(3){
    background-color: rgb(48, 138, 194);
    padding: 40px;
}
#uf{
    height: 100%;
    background-image: url(../img/university_of_florida.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}
#sponsor-zone>div:nth-child(1)>div:nth-child(4){
    background-color: red;
    padding: 40px;
}
#topps{
    height: 100%;
    background-image: url(../img/topps.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}
 #sponsor-zone>div:nth-child(2){          /* CENTER */
     background-color: lightgrey;
     padding: 50px;
 }
 #sponsor-zone>div:nth-child(2)>img{
     width: 30%;
     height: auto;
     margin-bottom: 30px;
 }
 #sponsor-zone>div:nth-child(2)>hr{
     width: 50px;
     color: grey;
     margin-bottom: 30px;
 }
 #sponsor-zone>div:nth-child(2)>p{
     font-weight: 700;
     margin-bottom: 30px;
 }
 #sponsor-zone>div:nth-child(2)>span{
    font-weight: 700; 
 }
 
 #sponsor-zone>div:nth-child(3)>div:nth-child(1){              /* RIGHT */
    background-color: red;
    padding: 40px;
}
#world{
    height: 100%;
    background-image: url(../img/world_bicycle_relief.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}
#sponsor-zone>div:nth-child(3)>div:nth-child(2){
   background-color:lightblue;
   padding: 40px;
}
#hearst{
    height: 100%;
    background-image: url(../img/hearst_corp.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}
#sponsor-zone>div:nth-child(3)>div:nth-child(3){
   background-color:blue;
   padding: 40px;
}
#lonely{
    height: 100%;
    background-image: url(../img/lonely_planet.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}
#sponsor-zone>div:nth-child(3)>div:nth-child(4){
   background-color: rgba(249, 253, 0,.4);
   padding: 10px;
}
#sponsor-zone>div:nth-child(3)>div:nth-child(4)>div{
    background-color: rgb(219, 189, 20);
    height: 100%; 
    width: 100%;
    padding: 50px;
}
#clear{
    height: 100%;
    background-image: url(../img/clear_channel.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: invert();
}
 #sponsor-zone>div:last-child{              /*BOTTOM  */
     background-color:  lightskyblue;
     width: 100%;
     height: 250px;
 }
 #sponsor-zone>div:last-child>div{
     width: 50%;
     position: relative;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
 }
 #sponsor-zone>div:last-child>div h1{
     width: 60%;
     font-size: 40px;
 }
 #sponsor-zone>div:last-child>div input[type="button"]{
    position: absolute;
    right: 0px;
    top: 10px;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border:none;
    font-weight: 700;
}
/* QUESTIONS */
#questions{
    height: 1000px;
    position: relative;
}
#questions-container{
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#questions-container>ul{
    list-style: none;
}
#questions-container>ul li:first-child{
    font-weight: 700;
    font-size: 30px;
}
#questions-container>ul li{
    padding-bottom: 35px;
    padding-top: 25px;
    border-bottom: 2px solid grey;
    font-weight: 700;
    position: relative;
}
.icona-questions img{
    width: 20px;
    position: absolute;
    top: 40%;
    right: 0px;
    transform: translate(0,-50%);

}
    /*  */
/* FOOTER */
footer{
    background-color: black;
    padding-left: 10%;
    padding-top: 100px;
    color: white;
}
footer>div{
    width: 70%;
    margin: 0 auto;
}
footer ul{
    list-style: none;
    margin-bottom: 5px;
    display: inline-block;
    margin: 0px 40px  0px 0px;
}
footer ul:nth-child(4){
    vertical-align: top;
}
footer ul li{
    margin-bottom: 10px;
}
footer ul li:nth-child(1){
    font-size: 25px;
    margin-bottom: 20px;
    text-decoration: underline;
}
footer hr{
    width: 100px;
    margin-top: 100px;
}
footer hr+img{
    margin-top: 40px;
    height: 50px;
    width: 80px;
    filter: invert(5);
}
footer select{
   position: relative;
   bottom: 20px;
   color: white;
   background-color: black;
   border: black;
}